@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.progress-container {
  background: #ffbfbf;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #3249b1;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.navigation {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn {
  background-color: #edb2b2;
  border: 0;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #000000;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}